@font-face {
  font-family: Pokemon;
  src: url('pokemon-rs.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Pokemon;
}

body {
  background-image: url('pokemonbg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  background: #ffffff;
  border: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
}
ul li a:hover {
  background: rgb(223, 223, 223);
}

ul li:hover ul.dropdown {
  display: block;
}

#mylogo {
  display: block;
  padding: 20px 25px;
  margin: 0 auto;
  width: 30%;
  min-width: 300px;
}

.logo {
  display: inline-block;
  margin: 0 auto;
  width: 60px;
}

h1 {
  color: rgb(0, 0, 0);
  padding: 0px 20px 10px 20px;
}

h2 {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
}

h3 {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
}

p {
  padding: 0px 20px;
  text-align: justify;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.content {
  background: #ffffff;
  border: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 25px 10%;
}

nav {
  text-align: center;
}

.picture {
  display: block;
  background: #ffffff;
  border: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
  width: 30%;
  min-width: 300px;
}

ol {
  padding: 5px 40px;
  font-size: 20px;
}

ul {
  padding: 5px 40px;
  font-size: 20px;
}
